# from my.telegram.org/apps
API_ID=39005479
API_HASH=c2e7265b2e96025adcc4731c2c1e5ba5

# from @BotFather on telegram
BOT_TOKEN=7194943579:AAEh3_DWvVnt8XrAJQ4wCl8UoIeGMCnwmw8
LOGGER_ID=1003975709812

# mongo url from cloud.mongodb.com
MONGO_URL=mongodb+srv://abc:abc@music.dlua0.mongodb.net/yukki?retryWrites=true&w=majority

OWNER_ID=6995805638

# pyrogram session from @StringFatherBot on telegram
SESSION=BQJTLScArOUphDhUGEI5UesaXoyXmPXLnzSOqFl_M790B7TWyHvjB_ydIhc6shaYkLsTa04oN8pxXPRAXPJFxlhyGcZtnFYR8m2kTkQcO3vKRpyo_7qs_h7sAJ-2VWUitaHvJuATGC3vVR4Vmz0PJUnV5MdWZqDf5GA3H-kFKDHUNqpxgdo2JL2mgj08zoIzKwr3oSexPH_LrEYOD2Z8z-XxnGfiz2TEi4oA8Q5iKLh6jfICBIlKKBa0cCvad8S46RkiZcILhWb5d83O6a8UdPqegoEtDNUp1vD2YDoGoncy7aNa-tD1i9EcblhzMuNbnwerzc7o1V1y7WYEOvjNyQzCW3JebAAAAAGzI8v-AA
